{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        mount/mount {:mvn/version "0.1.19"}
        aero/aero {:mvn/version "1.1.6"}
        metosin/reitit {:mvn/version "0.7.2"}
        org.slf4j/slf4j-nop {:mvn/version "2.0.9"}
        ring/ring {:mvn/version "1.13.0"}
        ring/ring-json {:mvn/version "0.5.1"}
        ring/ring-jetty-adapter {:mvn/version "1.13.0"}}
 :aliases
 {:dev {:extra-paths ["env/dev"]
        :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"]
        :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.5.0"}}}
  :run-m {:main-opts ["-m" "com.example.main"]}
  :start-server {:ns-default com.example.main
                 :exec-fn    -dev-main
                 :exec-args  {:dev-mode? true
                              :server-options {:port 3000 :join? false}}}}}
