{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.3"}}
 :aliases
 {:run-m {:main-opts ["-m" "com.example.app"]}
  :run-x {:ns-default com.example.app
          :exec-fn function-called-from-command-line
          :exec-args {:name "hello"}}}}
