{:deps {:aliases [:cljs-storm]}

 :nrepl {:port 7123
         ;; Enable this if you want to use it with cider-storm
         ;; :middleware [flow-storm.nrepl.middleware/wrap-flow-storm]
         }

 :builds
 {:dev-test {:target     :browser
             :modules
             {:main
              {:init-fn com.example.app/init}}

             :compiler-options {:infer-externs false}

             :devtools {:before-load com.example.app/stop
                        :http-port   8021
                        :http-root   "public"
                        :preloads    [flow-storm.storm-preload]}
             :output-to  "public/dev-test.js"}}}
