{:deps {:aliases [:frontend]}

 :dev-http {8080 "public"}

 :nrepl {:port 8777}

 :builds
 {:app {:target     :browser
        :output-dir "public/js/compiled"
        :asset-path "/js/compiled"

        :modules
        {:main
         {:init-fn com.example.app/init}}

        :devtools {:before-load com.example.app/stop
                   :preloads    [devtools.preload]}}}}
