html, body { height:100% }
body, .flex {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
}
html, body  {
    font-family:"Open Sans", Sans-Serif;
}
section {
    flex: 1;
}
footer {
    flex: initial;
    text-align:center;
}
footer {
    font-size:0.75rem;
}
