{:paths ["src" "resources"]
 :deps  {org.clojure/clojure {:mvn/version "1.12.5"}}

 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.5.1"}}}

  :repl {:extra-deps {nrepl/nrepl       {:mvn/version "1.7.0"}
                      cider/cider-nrepl {:mvn/version "0.62.2"}}
         :main-opts  ["-m" "nrepl.cmdline" "--interactive"
                      "--middleware" "[cider.nrepl/cider-middleware]"]}

  :clj-kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2026.08.04"}}
              :main-opts  ["-m" "clj-kondo.main"]}

  :test {:extra-paths ["test"]
         :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                       lambdaisland/kaocha                  {:mvn/version "1.91.1392"}}}

  :runner {:main-opts ["-m" "kaocha.runner"]
           :exec-fn   kaocha.runner/exec-fn}

  :format-fix {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}
               :main-opts  ["-m" "cljfmt.main" "fix" "src" "dev"]}

  :format-check {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}
                 :main-opts  ["-m" "cljfmt.main" "check" "src" "dev"]}

  :quickdoc {:deps      {org.babashka/cli {:mvn/version "0.4.36"}
                         io.github.borkdude/quickdoc
                         {:deps/root "jvm"
                          :git/sha   "7c8bef54eda28367193ec433af01bb940114f012"}}
             :exec-fn   quickdoc.api/quickdoc
             :exec-args {:github/repo "https://github.com/username/your-library"
                         :git/branch  "main"
                         :var-links   true}}
  :build    {:deps       {io.github.clojure/tools.build {:mvn/version "0.10.14"}
                          slipset/deps-deploy           {:mvn/version "0.2.5"}}
             :ns-default build}
  :deploy   {:replace-deps {slipset/deps-deploy {:mvn/version "0.2.5"}}
             :exec-fn      deps-deploy.deps-deploy/deploy
             :exec-args    {:installer      :remote
                            :sign-releases? true}}}}
