{:paths ["src" "resources"]
 :deps  {org.clojure/clojure       {:mvn/version "1.12.3"}
         org.clojure/clojurescript {:mvn/version "1.12.42"}
         reagent/reagent           {:mvn/version "2.0.1"}
         com.fulcrologic/fulcro    {:mvn/version "3.8.6"}}

 :aliases {:frontend {:extra-deps {com.fulcrologic/fulcro-inspect {:mvn/version "1.0.3"}
                                   binaryage/devtools             {:mvn/version "1.0.7"}
                                   cider/cider-nrepl              {:mvn/version "0.58.0"}
                                   thheller/shadow-cljs           {:mvn/version "3.2.0"}}
                      :main-opts  ["-m" "shadow.cljs.devtools.cli" "watch" "app"]}}}
