.DS_Store
.calva/output-window/
.classpath
.clj-kondo/**
!.clj-kondo/config.edn
.cpcache
.cljs_node_repl/
.eastwood
.factorypath
.hg/
.hgignore
.java-version
.lein-*
.lsp/
.nrepl-history
.nrepl-port
.portal/vs-code.edn
.project
.rebel_readline_history
.settings
.socket-repl-port
.sw*
.vscode
*.class
*.iml
*.jar
*.log
*.swp
*~
\#*\#
/checkouts
/classes
/target
resources/public/css/compiled.css
resources/public/js
resources/dist
node_modules/
.shadow-cljs
bun.lockb

# secrets
.env
.env.*
