.DS_Store
.calva/output-window/
.classpath
!.clj-kondo/config.edn
.clj-kondo/**
.cpcache
.eastwood
.factorypath
.hg/
.hgignore
.java-version
.lein-*
.lsp/.cache
.lsp/sqlite*.db
.nrepl-history
.nrepl-port
.portal/vs-code.edn
.project
.rebel_readline_history
.settings
.socket-repl-port
.sw*
.vscode
*.class
*.iml
*.jar
*.log
*.swp
*~
\#*\#
/checkouts
/classes
/target
resources/public/js
node_modules/
.shadow-cljs
